.input{
    border: 1px solid #cdd3d8;
    box-shadow: none;
    font-size: 18px;
    line-height: normal;
    outline: none;
    padding: 14px 10px 8px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.formRow{
   display: flex;
   gap: 10px;
}
.textarearDiv{
    padding-top: 2%;
}
.textArea{
    height: 100%;
    width: 100% !important;
    margin-bottom: -1px;
    padding-bottom: 9px;
    border: 1px solid #cdd3d8;
    border-color: #cdd3d8;
    box-shadow: none;
    font-size: 18px;
    line-height: normal;
    outline: none;
    padding: 14px 10px 8px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
}
.updloadArea{
    align-items: center;
    border: 1px dashed #bfc3c7;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    position: relative;
    text-align: center;
    transition: border .3s ease;
    width: 100%;
}
.updloadField{
    background: #fff;
    border: 1px solid #c4c4c4;
    color: #222;
    font: inherit;
    font-size: 14px;
    line-height: 2;
    outline: none;
    padding: 10px;
    width: 100%;
}
.textform{
    font-size: 16px;
    line-height: normal;
    margin-bottom: 20px;
    color: #222;
    line-height: normal;
}
.btn{
    background-color: #005eb8 !important; 
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.5px;
    line-height: 10px;
    max-width: 100%;
    min-width: 200px;
    outline: none;
    padding: 18px 0;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .2s ease-in-out,color .2s ease-in-out .1s,border-color .2s ease-in-out;
    white-space: normal;
    width: auto;
}
@media(max-width:414px) {
    .formRow{
        flex-direction: column;
        width: 100%;
    }
    .input{
        width: 100%;
    }
}
@media(max-width: 375px) {
    .input{
        padding: 14px 10px 8px;
        
    }
    .formRow{
     flex-direction: column;
       gap: 10px;
       width: 100%;
    }
    .textarearDiv{
        padding-top: 2%;
    }
    .textArea{
   
        line-height: normal;
    }
    .updloadArea{
        display: flex;
        flex-direction: column;
        font-size: 13px;
        justify-content: center;
        position: relative;
        text-align: center;
        transition: border .3s ease;
        width: 100%;
    }
    .updloadField{
        font: inherit;
        font-size: 14px;
        line-height: 2;
        outline: none;
        padding: 10px;
        width: 100%;
    }
    .textform{
        font-size: 16px;
        line-height: normal;
        margin-bottom: 20px;
        color: #222;
        line-height: normal;
    }
   
}