.t-item-groups {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px -8px 0;
}
.t-item-group {
    margin: 0 24px 8px 0;
}
*, :after, :before {
    box-sizing: border-box;
}
.t-item-group-technologies {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1px -1px 0;
}
.t-item-group-technology {
    height: 64px;
    margin: 0 1px 1px 0;
    position: relative;
    width: 96px;
}
.t-item-group-technology-content {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 8px 12px;
    position: relative;
    width: 100%;
}
.t-item-group-technology-content:after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
*, :after, :before {
    box-sizing: border-box;
}
.t-popup {
    background-color: #fff;
    left: 0;
    opacity: 0;
    padding: 24px;
    position: absolute;
    top: calc(100% + 1px);
    transition: opacity .16s ease-in-out,visibility 0s .16s;
    visibility: hidden;
    width: 550px;
    z-index: 3;
}
.t-popup-columns {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
}
.t-popup {
    background-color: #fff;
    left: 0;
    opacity: 0;
    padding: 24px;
    position: absolute;
    top: calc(100% + 1px);
    transition: opacity .16s ease-in-out,visibility 0s .16s;
    visibility: hidden;
    width: 550px;
    z-index: 3;
}
.t-popup-column-title {
    color: #000;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 0;
}
.t-popup-column-value.t-practice {
    background-image: url('https://www.scnsoft.com/technologies-logos/back-end/dot-net-logo.svg');
}
.t-popup-column-value {
    background-position: 0;
    background-repeat: no-repeat;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.15;
    margin: 0;
    padding: 0 0 0 44px;
}
.t-popup-description, .t-popup-description p {
    color: #000;
    font-size: 14px;
    line-height: normal;
}
.swiper-slide {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}
.card-box {
    min-width: 250px !important;
    max-width: 250px !important;
    min-height: 350px !important;
   
    padding: 45px 25px !important;
    border-radius: 15px !important;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1) !important;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1) !important;
    -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1) !important;
    min-width: 100% !important;
    min-height: 100% !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
@media(max-width: 767px) {
    .swiper-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    }
}
@media(max-width: 997px) {
    .swiper-slide {
    display: grid;
      grid-template-columns: repeat(2, 1fr);
       
        width: 100%;
    }
}
@media(max-width: 509px) {
    .container{
        max-width: '100%' !important;
    }
    .swiper-slide {
    display: grid;
      grid-template-columns: repeat(1, 1fr);
       margin-right: 10px;
    margin-left: 10px;
        /* width: 80%; */
    }
    .card-box {
        min-width: 200px !important;
        max-width: 200px !important;
        min-height: 300px !important;
        padding: 45px 25px !important;
        min-width: 100% !important;
        min-height: 100% !important;
        margin-right: 10px;
    }
}