.icp-header-container{
    background-color: #005eb8;
    width: 100%;
    padding: 5%;
    display: flex !important;
    flex-direction: row;
}
.icp-header{
    display: block;
    width: 60%;
}
.icp-accented-header{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}
redesign .icp .icp-header-wrapper .icp-header-container .icp-header h1 {
    color: #fff;
    font-weight: 400;
    margin: 0 0 16px;
}

h1 {
    font-size: 40px;
}
h1 {
    color: #fff;
    font-family: Sumana,serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.13;
    margin: 20px 0 30px;
}
.text {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 32px;
    color: #fff;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.redesign .icp .icp-header-wrapper .icp-header-container .icp-header .icp-header-link-wrapper {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
}
.redesign .icp .icp-header-wrapper .icp-header-container .icp-header .icp-header-link.no-arrow {
    padding-right: 32px;
}
.redesign .icp .icp-header-wrapper .icp-header-container .icp-header .icp-header-link-wrapper>:first-child {
    margin-top: 60px!important;
}
@media only screen and (min-width: 800px) {
    /* .icp-header-container{
     flex-direction: column;
     align-items: center;
    } */
    .icp-header{
        width: 100%;
    }
}