.card_solution{
    height: '100px';
    width: '100px';
    border: '1px gray';
}
.solutions_card{

background-color: bisque;
height: '100%';

}
.solutions_title{
    text-align: center;
    font-weight: bold;
 
}
.solutions_arrow{
   align-items: end ;
   font-weight: bold; 

}
.solution_head{
    font-size: x-large;
    color: '' ;
}
.solution_text{
    padding: '20px' !important;
    font-size: '20px';
}